<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    车队名
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@fleet.name%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    联系人
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@fleet.manager%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    联系人号码
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@fleet.mobile%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    办公号码
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@fleet.office_number%>>
  </div>
</div>
</p>
<br><br>

<p>
<div class="form-group has-success">
  <label class="col-sm-2 control-label" for="inputSuccess">
    车队驻地
  </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputSuccess" value=<%=@fleet.location%>>
  </div>
</div>
</p>
<br><br>